*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

:root
    --prime: #18274E
    --white: #fff
    --black: #000
    --dark: #111111
    --bg: #fff

$alfa: rgba(0, 0, 0, 0)
$prime: var(--prime)
$main: var(--main)
$black: var(--black)
$dark: rgb(var(--dark))
$white: var(--white)
$green: var(--green)
$red: var(--red)
$bg: var(--bg)

html
    scroll-behavior: smooth

body, html
    font-family: "Roboto", sans-serif
    font-weight: 400
    font-style: normal
    font-optical-sizing: auto
    background-color: $bg
    color: $black

body
    min-height: 100vh
    position: relative
    z-index: 1
    &.active
        overflow: hidden

img
    display: block
    max-width: 100%

a,
button
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:hover
        // opacity: .5

    &:active
        opacity: 1
        transform: scale(.98)

ul
    list-style: none

.btn
    font-weight: 500
    font-size: 18px
    line-height: 110%
    border-radius: 80px 
    width: fit-content
    display: flex
    align-items: center
    gap: 20px
    padding: 19px 24px
    border: 1px solid #9291AA
    color: #18274E
    background-color: #fff

.mob 
    @media screen and ( max-width: 1100px )
        &-hide 
            display: none 
            
    @media screen and ( min-width: 1101px )
        &-show
            display: none 

        
